<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.com.mpdlcamera" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:backupAgent=".Utils.BackupFileHelper"
        android:theme="@style/AppTheme.WithoutActionBar" >

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIA3v4YX2ItNJ9TLtA9JbvxE69ul_QXQzIV-GFzA" />
        <meta-data
            android:name="AA_DB_NAME"
            android:value="MPDLCam.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <!-- Auth-->
        <activity
            android:name=".Auth.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Auth.QRScannerActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat"
            android:parentActivityName=".Auth.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Auth.LoginActivity" />
        </activity>


        <!-- Folders and Items-->
        <activity
            android:name=".Folder.MainActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".Items.ItemsActivity"
            android:label="@string/title_item_activity"
            android:parentActivityName=".Folder.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Folder.MainActivity" />
        </activity>

        <activity
            android:name=".Items.DetailActivity"
            android:label="@string/title_item_detail_activity"
            android:parentActivityName=".Items.ItemsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Items.ItemsActivity" />
        </activity>


        <!-- for settings-->
        <activity
            android:name=".Settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".Folder.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Folder.MainActivity" />
        </activity>

        <activity
            android:name=".Settings.BackupSettingsActivity"
            android:label="@string/title_backup_activity"
            android:parentActivityName=".Settings.SettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Settings.SettingsActivity" />
        </activity>

        <activity
            android:name=".Settings.LocalAlbumSettingsActivity"
            android:label="@string/title_activity_local_album"
            android:parentActivityName=".Settings.SettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Settings.SettingsActivity" />
        </activity>


        <activity
            android:name=".Settings.RemoteCollectionSettingsActivity"
            android:label="@string/title_activity_remote_collection"
            android:parentActivityName=".Settings.SettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Settings.SettingsActivity" />
        </activity>


        <activity
            android:name=".Settings.BackUpOptionSettings"
            android:label="@string/title_backup_activity" >
        </activity>


        <!--service-->
        <service android:name="example.com.mpdlcamera.Folder.UploadService"
                 android:enabled="true">
        </service>

    </application>

</manifest>
